<h1>Vesiputous</h1>
<!--Cards-component-->
<app-cards [curRule]="this.curRule" [shuffledCards]="this.shuffledCards" [playedCards]="this.playedCards"
  [loading]="this.loading">
</app-cards>
<div class="disableSelection" style="margin:1em">{{cardCount}}/52</div>

<!-- After all the cards has been played, the game shall ask if you want to play again. -->
<div *ngIf="cardCount == 52" class="cardsClass">
  <button id="newGame" type="button" class="button1" (click)="newGame()">Uusi peli</button>
</div>

<!--<button (click)="consolelog()">Console log (DeBugiing)</button>-->


<button class="button2" [routerLink]="['/JoinTable']" routerLinkActive="router-link-active">Takaisin</button>


<!--
 Things under this line is only here for the development time
<table>
  <td>
    <h3>Käytetty</h3>
    <tr *ngFor="let card of this.playedCards">{{this.card.suit}} {{this.card.rank}}</tr>
  </td>
  <td>
    <h3>Jäljellä</h3>
    <tr *ngFor="let card of shuffledCards">{{card.suit}} {{card.rank}}</tr>
  </td>

</table>
-->