<!--Bar on top of page for round buttons-->
<div class="iconBar">
  <div class="iconBtn iconRight iconRed" [routerLink]="['/JoinLobby']" routerLinkActive="router-link-active">
    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="white" style="stroke:white;stroke-width:2"
      class="bi bi-x-lg" viewBox="0 0 16 16">
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
    </svg>
  </div>
</div>

<h1>Lobby</h1>
<!--List of players-->
<table id="players" style="margin-bottom: 30px" *ngFor="let player of players">
    {{player}}
</table>



<p><b>Odota, että ylläpitäjä aloittaa pelin.</b></p>

<!--Navigation-->
<div class="navi">
    <div class="navitem"><button id="chooseGame" class="button1" [routerLink]="['/GameOne']"
            routerLinkActive="router-link-active">Aloita peli</button></div>
</div>