/* display players in a column */
#players {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display:flex;
  justify-content: center;
  align-items: center;
}

.playerName {
  background-color: #2f8faf;
  padding: 8px;
  font-size: 1.2em;
  font-family:'Roboto-Bold';
  width: 300px;
  animation: 1s slider forwards;
  position:absolute;
  color:white;
}
@keyframes slider {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }

}