<h1>Lobby ABCD</h1>
<!--List of players-->
<table id="players">
    <tr>
        <th>Pelaajat (5)</th>
    </tr>
    <tr>
        <td>dragonslayer999</td>
    <tr>
        <td>HyperCarry645</td>
    </tr>
    <tr>
        <td>theLegend333</td>
    </tr>
    <tr>
        <td>FuriousStrawberry</td>
    </tr>
    <tr>
        <td>beautiful_curry67</td>
    </tr>
</table>

<!--Buttons-->
  <nav>
      <ul>
          <li><button class="button2" [routerLink]="['/GameTable']" routerLinkActive="router-link-active">Valitse peli</button></li>
          <li><button class="button2" [routerLink]="['/JoinTable']" routerLinkActive="router-link-active">Takaisin</button></li>
      </ul>   
  </nav>