<!--Logo-->
<div id="logo">
  <!--Starburst-->
  <div class="burst starburst starburst--both"></div>
  <img src="https://gameassetsbucket.s3.amazonaws.com/bd_logo1.png" alt="Logo" style="max-width: 300px;">
</div>

<!--Navigation-->
<div class="navi">
  <div class="navitem"><button id="play" class="button1" [routerLink]="['/JoinTable']">Pelaa!</button></div>

  <div class="navitem"><button id="contact" class="button2" [routerLink]="['/Contact']">Ota yhteyttä</button></div>
  <div class="navitem"><button id="settings" class="button2" [routerLink]="['/Settings']">Krediitit</button></div>
</div>

