<!--Bar on top of page for round buttons-->
<div class="iconBar">
  <!--Speech bubble-->

  <div class="speech-bubble2">
    Tippaa!</div>
  <a class="iconRight" href="https://www.buymeacoffee.com/brewdeck" target="_blank">
    <div class="iconBtn iconRight iconGreen">

      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="stroke:white;stroke-width:0.5px;"
        fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
        <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
        <path
          d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
      </svg>
    </div>
  </a>
</div>

<!--Logo-->
<div id="logo">
  <img src="https://gameassetsbucket.s3.amazonaws.com/bd_logo1.png" alt="Logo"
    style="max-width: 250px; padding-top:5px">
</div>
<!--Navigation-->
<div class="navi">
  <div class="navitem"><button id="play" class="button1" [routerLink]="['/JoinTable']">Pelaa!</button></div>
  <div class="navitem"><button id="contact" class="button2" [routerLink]="['/Contact']">Ota yhteyttä</button></div>
  <div class="navitem"><button id="settings" class="button2" [routerLink]="['/Settings']">Meistä</button></div>
</div>