<!--Bar on top of page for round buttons-->
<div class="iconBar">
    <div class="iconBtn" [routerLink]="['/MainMenu']" routerLinkActive="router-link-active">
  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
  </svg>
</div>
</div>

<h1>Krediitit</h1>
<h3>Mikä on BrewDeck?</h3>
<div class="textbox">
<p>BrewDeck on neljän tietojenkäsittelyopiskelijan projekti, tarkemmin Jyväskylän ammattikorkeakoulu JAMKin Ticorporate-opintojakson työ.</p>
<p>Opintojakson tarkoitus on luoda tiimeissä sovellus, joka julkaistaan opintojakson päätteeksi. Itse sovelluksen idea on tiimin vastuulla.</p>
<p>BrewDeckin tarkoitus on olla hauska, värikäs ja helppokäyttöinen sovellus, jota kaikki voivat pelata yhdessä illanvietossa vaikkapa 
  omilta kännyköiltään. </p>


<h5>Keitä tiimiin kuuluu?</h5>

<p>Järvinen Aku<br>
tekniikka, testaus</p>
<p>Kelja Julius<br>
UI/UX-suunnittelija, Scrum Master</p>
<p>Matela Janne<br>
tekniikka, marketointi, Product Owner</p>
<p>Virta Toni<br>
tekniikka</p>

</div>