body {
    text-align:center;
}

#cardBox {
    display:flex;
    justify-content:center;
    align-items: center;
}

#cardBox > #rule {
    position: absolute;
    width: 280px;
    height: 190px;
    top: 17.5rem;
    border: 1px dashed grey;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

#cardBack {
    width: 300px;
    height: 470px;
    background-color:grey;
    border-radius:25px;
    border: 1px solid black;
    margin: 0 auto;
}

#cardFront {
    width: 300px;
    height: 470px;
    background-color:white;
    border-radius:25px;
    border: 1px solid black;
    margin: 0 auto;
}



/* Responsive layout */
@media screen and (max-width: 500px) {

}