<router-outlet></router-outlet>
<!--Routerd views go here-->
<button [style.display]="'none'" type="button" id="modalButton" data-toggle="modal"
  data-target="#drinkResponsibly"></button>


<!--
 Responsible drinking modal-->
<div id="drinkResponsibly" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!--Modal content-->
    <div class="modal-content">
      <h1 class="modal-title" style="text-align:center; padding:20px;">Ennen kuin aloitat</h1>
      <div class="modal-body">

        <div class="form-check" style="text-align:left;margin-bottom: 1em;padding-left:2em;">
          Olen yli 18-vuotias
          <br>
          Juon vastuullisesti
          <br>
          Muistan juoda välillä myös vettä
          <br>
        </div>

        <div style="padding:5px;text-align:left;font-size: 0.9em;">
          <h5 style="margin-top:2em;margin-bottom:1em;">Tarvitsetko apua päihdeongelmaan?</h5>
          <p>Se on ok. Näiltä verkkosivuilta löydät tietoa vastuullisesta alkoholinkäytöstä, sekä auttavia palveluja
            (myös anonyymisti).</p>

          <li>
            <ul><a href="https://www.kohtuullisesti.fi/">kohtuullisesti.fi</a> - tietoa vastuullisesta alkoholinkäytöstä
            </ul>
            <ul><a href="https://paihdelinkki.fi/fi/mista-apua/internetpalvelut">päihdelinkki.fi</a> - nimetöntä ja
              luottamuksellista apua</ul>
            <ul>Valtakunnallinen päihdeneuvonta 24/7 (maksuton ja anonyymi) p. <b>0800 900 45</b></ul>
          </li>
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="button3" data-dismiss="modal">Olen
          lukenut yllä olevat asiat ja ymmärrän lukemani<p>
          </p></button>
      </div>
    </div>


  </div>
</div>