<h1>Ota yhteyttä</h1>

<h3>Yhteystiedot</h3>

    <!--Social medias-->
    <a href="https://www.instagram.com/brewdeckgames/">
    <img src="https://gameassetsbucket.s3.amazonaws.com/bd_instagram.png" alt="Instagram" style="width: 60px; margin:10px;"></a>
    <a href="https://www.tiktok.com/@brewdeck">
    <img src="https://gameassetsbucket.s3.amazonaws.com/bd_tiktok.png" alt="Tiktok" style="width: 60px;margin:10px;"></a>
    <a href="https://twitter.com/brew_deck">
    <img src="https://gameassetsbucket.s3.amazonaws.com/bd_twitter.png" alt="Twitter" style="width: 60px;margin:10px;"></a>

<p>brewdeckgames@gmail.com</p>


<!--Contact form-->
<h3>Palaute</h3>
<p>Voit ottaa meihin yhteyttä nopeasti myös alla olevalla lomakkeella, joka avautuu Avaa-painikkeella. Viestisi saapuu meille sähköpostiin.</p>

<div class="navi" style="align-items: center;">
    
<div class="navitem" style="width: 70%" *ngIf="collapsed == true" >
    <button class="button3" (click)="openForm()" type="button" data-toggle="collapse" data-target="#contactForm" aria-expanded="false" aria-controls="contactForm">
    Avaa
    </button>
</div>

<div class="navitem" style="width: 70%" *ngIf="collapsed == false">
    <button class="button3" (click)="closeForm()" type="button" data-toggle="collapse" data-target="#contactForm" aria-expanded="false" aria-controls="contactForm">
        Sulje
    </button>
</div>
</div>
<br>

<form id="contactForm" style="text-align:left;margin-bottom: 15px;" class="collapse was-validated" no-validation>

<!--Title of form-->
<input class="form-control" type="text" placeholder="Otsikko" aria-label="title" required>
<div class="invalid-feedback">
    Kirjoita otsikko.
</div>
<br>

<!--Dropdown menu-->
<select class="form-select form-control" aria-label="topic" required>
    <option selected disabled value>Mitä asiasi koskee?</option>
    <option value="1">Bugi</option>
    <option value="2">Palaute</option>
    <option value="3">Muu</option>
</select>
<div class="invalid-feedback">
    Valitse aihe.
</div>



<br>
<!--Textarea-->
<div class="mb-3">
    <label for="msg" class="form-label">Kerro, miten voimme auttaa.</label>
    <textarea class="form-control" id="msg" rows="3" required></textarea>
    <div class="invalid-feedback">
        Tämä kenttä ei voi olla tyhjä.
    </div>

</div>

<!--File input-->
<div class="mb-3">
    <label for="formFileMultiple" class="form-label">Esim. kuvakaappaus (ei pakollinen)</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>


<!--Sender's email -form-->
  <div class="mb-3">
    <label for="emailMsg" class="form-label">Jos haluat, että vastaamme viestiisi, annathan sähköpostiosoitteesi.</label>
    <input type="email" class="form-control" id="emailMsg" placeholder="name@example.com">
  </div>

<div style="text-align: center;">
  <button type="submit" style="margin-right:3px" class="btn btn-primary btn-lg">Lähetä</button>
  <button type="reset" class="btn btn-secondary btn-lg">Tyhjennä</button>
</div>
</form>
  

<div class="navi">
    <div class="navitem" style="margin-top: 30px;"><button id="back" class="button2" [routerLink]="['/MainMenu']" routerLinkActive="router-link-active">Takaisin</button></div>
</div>