/* You can add global styles to this file, and also import other style files */
.lBlueBackground {
    background-color: #45B4D9;
    font-family: 'Roboto';
}

footer {
  font-size: 0.9em;
  margin-top:auto;
  text-align:center;
  padding-top:10px;
}

#logo {
    margin: 0 auto;
    padding-bottom: 30px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  align-items:center;
  align-content: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navi {
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
  justify-content: space-around;
  flex-direction: column;
  max-width: 370px;
  margin: 0 auto;
}

.navitem {
  margin: 5px;
}

h1 {
    font-family: 'Roboto-Black';
    font-size: 2.5em !important;
    line-height: 47px;
    color: #FFFFFF;
    -webkit-text-stroke: 2px rgb(49, 49, 49);
    margin: 0.5em;
}

h3 {
  font-family: "Roboto-Medium";
  margin: 0.5em;
  color: white;
  padding-top: 1em;
  font-style: normal;
  font-weight: 900;
}

.button1 {
    font-family: 'Roboto-Black';
    color: white;
    font-size: 2em;
    letter-spacing: 0.08em;
    background: #FFB800;
    border: 3.5px solid #4A2D00;
    box-shadow: inset 1px -40px 1px rgba(200, 88, 88, 0.2), inset 0px 5px 1px #FFFFFF, inset 0px -10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 100%;
    height: 2.5em;
    text-shadow: 0px 1.5px 1px #4A2D00;
    text-shadow: -2px 0 1px #4A2D00, 0 3.5px 1px #4A2D00, 2px 0 1px #4A2D00, 0 -2px #4A2D00;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button1:hover {
    letter-spacing: 0.11em;
    border: 3.5px solid black;
}

.button1:active {
  border: 3.5px solid rgb(27, 27, 27);
  box-shadow: inset 1px -40px 0px rgba(200, 88, 88, 0.2), inset 0px 5px 0px #f2f2f2, inset 0px -10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.4),
            1px 1px 15px 0px rgba(154, 137, 164, 0.1);
}

.button2:hover {
    letter-spacing: 0.11em;
    border: 3.5px solid black;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25), inset 1px -30px 1px rgba(0, 0, 0, 0.2), inset 0px 3px 0.5px #f2f2f2, inset 0px -8px 1px rgba(0, 0, 0, 0.25);
}

.button2:active {
  border: 3.5px solid rgb(27, 27, 27);
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.4),
  1px 1px 15px 0px rgba(154, 137, 164, 0.1);
}

.button2 {
    font-family: 'Roboto-Black';
    color: white;
    font-size: 1.8em;
    line-height: 38px;
    letter-spacing: 0.1em;
    background: #E48100;
    border: 3.5px solid #452900;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25), inset 1px -30px 1px rgba(0, 0, 0, 0.2), inset 0px 3px 0.5px #FFFFFF, inset 0px -8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 90%;
    height: 2.5em;
    border-radius: 24px;
    text-shadow: 0px 1.5px 1px rgba(22, 8, 0, 0.8);
    text-shadow: -2px 0 1px #772B00, 0 4px 1px #772B00, 2px 0 1px #772B00, 0 -1.5px #772B00;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .button3 {
    font-family: 'Roboto-Black';
    color: white;
    font-size: 1.7em;
    letter-spacing: 0.08em;
    background: #FFB800;
    border: 3.5px solid #4A2D00;
    box-shadow: inset 1px -40px 1px rgba(200, 88, 88, 0.2), inset 0px 3px 1px #FFFFFF, inset 0px -5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 2em;
    margin: 3px;
    text-shadow: 0px 1.5px 1px #4A2D00;
    text-shadow: -2px 0 1px #4A2D00, 0 2px 1px #4A2D00, 2px 0 1px #4A2D00, 0 -2px #4A2D00;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button3:hover {
  letter-spacing: 0.11em;
  border: 3.5px solid black;
}

.button3:active {
border: 3.5px solid rgb(27, 27, 27);
box-shadow: inset 1px -40px 0px rgba(200, 88, 88, 0.2), inset 0px 5px 0px #f2f2f2, inset 0px -10px 0px rgba(0, 0, 0, 0.25);
box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.4),
          1px 1px 15px 0px rgba(154, 137, 164, 0.1);
}


/* Responsive layout (width) */
@media screen and (max-width: 650px) {
  main {
    width: 97%;
  }
}
@media screen and (max-width: 400px) {
  .navi {
    max-width: 300px;
  }
  body {
    height: 100%;
    width: 100%;
  }
}

/* Responsive layout (height) */
@media screen and (max-height: 775px) {
  #logo {
    width: 90%;
  }
  main {
    height: 100%;
  }
}
@media screen and (max-height: 690px) {
  main {
    margin:0 auto;
  }
  #logo {
    max-width: 90%;
  }
}
@media screen and (max-height: 645px) {
  #logo {
    max-width: 70%;
  }
}
@media screen and (max-height: 580px) {
  #background {
    display:none;
  }
}


/* Disable text selection  */
.disableSelection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

/* Form CSS */
.formItem {
  margin-bottom:1em;
  text-align:center;
  font-size:2em;
  padding:0.5em;
  letter-spacing:0.03em;
  border: 2px solid #BDBDBD;
  color: #303030;
  font-family: "Roboto-Medium";
  width: 300px;
}

.formLabel {
    font-size: 2em;
    color:white;
    font-family: "Roboto-Medium"

  }


/* Roboto-font */
@font-face { font-family: 'Roboto'; src: url('Roboto/Roboto-Regular.ttf'); } 
@font-face { font-family: 'Roboto-Bold'; src: url('Roboto/Roboto-Bold.ttf'); } 
@font-face { font-family: 'Roboto-Black'; src: url('Roboto/Roboto-Black.ttf'); } 
@font-face { font-family: 'Roboto-Italic'; src: url('Roboto/Roboto-Italic.ttf'); } 
@font-face { font-family: 'Roboto-Light'; src: url('Roboto/Roboto-Light.ttf'); } 
@font-face { font-family: 'Roboto-Medium'; src: url('Roboto/Roboto-Medium.ttf'); } 
@font-face { font-family: 'Roboto-Thin'; src: url('Roboto/Roboto-Thin.ttf'); } 


/* This is code for the animated background. Code used: https://codepen.io/goodkatz/pen/LYPGxQz */
body {
    height:95vh;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    min-height:100vh;
  }

#background {
  position:fixed;
  margin:0;
  width:100%;
  height: 30vh;
  bottom:0;
  z-index: -9999;
}

#background #beer {
  position: absolute;
  bottom: 0;
  background-color: #f2c025;
  width: 100%;
  height: 100%;
  z-index: -1000;
  overflow: hidden;
}

#beer #beertint {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: white;
  opacity: 13%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%;
  overflow: hidden;
}

#background .waves {
    position:absolute;
    width: 100%;
    height:10vh;
    z-index: -999;
    bottom: 100%;
    margin-bottom:-7px; /*Fix for safari gap*/
    overflow: hidden;
}

  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }


/* Animated background code ends here */

.bubble {
  position: absolute;
  animation: rising linear infinite;
  width: 50px;
  height: 50px;
  background: white;
  opacity: 25%;
  border-radius: 100%;
  overflow: hidden;
}

.bubble1 {
  width: 10px;
  height: 10px;
left: 5%;
animation-duration: 5s;
}

.bubble2 {
  width: 10px;
  height: 10px;
  left: 25%;
  animation-duration: 2s;
  }

.bubble3 {
  width: 30px;
  height: 30px;
    left: 50%;
    animation-duration: 3s;
    }

.bubble4 {
  left: 75%;
  animation-duration: 5s;
  }

.bubble5 {
  left: 95%;
  width: 30px;
  height: 30px;
  animation-duration: 4s;
}

.bubble6 {
  width: 10px;
  height: 10px;
  left: 70%;
  animation-duration: 3.5s;
}

.bubble7 {
  left: 33%;
  animation-duration: 3s;
}

.bubble8 {
  left: 55%;
  width: 30px;
  height: 30px;
  animation-duration: 2s;
}

.bubble9 {
  left: 65%;
  animation-duration: 1.7s;
}

.bubble10 {
  left: 15%;
  animation-duration: 3.5s;
}

.bubble11 {
  left: 47%;
  animation-duration: 5s;
  width: 20px;
  height: 20px;
}

.bubble12 {
  left: 40%;
  animation-duration: 6s;
  width: 25px;
  height: 25px;
}

@keyframes rising {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    bottom: 80%;
    opacity: 0;
  }
}