/* You can add global styles to this file, and also import other style files */
.modal-dialog {
  
}

.lBlueBackground {
    background-color: #45B4D9;
    font-family: 'Roboto';
}

#joinGame {
    margin: 5em;
}

#logo {
    margin: 5em auto;
    margin-top: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 3em;
    text-align: center;
    margin-top: 3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 47px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-shadow: -1.5px 0 1px black, 0 4px 1px black, 1.5px 0 1px black, 0 -1.5px black;
}

nav {
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding:0;
}

.button1 {
    font-family: 'Roboto-Black';
    color: white;
    font-size: 35px;
    line-height: 38px;
    letter-spacing: 0.08em;
    background: #FFB800;
    border: 3.5px solid #4A2D00;
    box-shadow: inset 1px -40px 1px rgba(200, 88, 88, 0.2), inset 0px 5px 1px #FFFFFF, inset 0px -10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 370px;
    height: 80px;
    text-shadow: 0px 1.5px 1px #4A2D00;
    text-shadow: -2px 0 1px #4A2D00, 0 3.5px 1px #4A2D00, 2px 0 1px #4A2D00, 0 -2px #4A2D00;
    margin-bottom: 0.5em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button1:hover {
    letter-spacing: 0.11em;
    border: 3.5px solid black;
}

.button1:active {
  border: 3.5px solid rgb(27, 27, 27);
  box-shadow: inset 1px -40px 0px rgba(200, 88, 88, 0.2), inset 0px 5px 0px #f2f2f2, inset 0px -10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.4),
            1px 1px 15px 0px rgba(154, 137, 164, 0.1);
}

.button2:hover {
    letter-spacing: 0.11em;
    border: 3.5px solid black;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25), inset 1px -30px 1px rgba(0, 0, 0, 0.2), inset 0px 3px 0.5px #f2f2f2, inset 0px -8px 1px rgba(0, 0, 0, 0.25);
}

.button2:active {
  border: 3.5px solid rgb(27, 27, 27);
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.4),
  1px 1px 15px 0px rgba(154, 137, 164, 0.1);
}

.button2 {
    font-family: 'Roboto-Black';
    color: white;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    background: #E48100;
    border: 3.5px solid #452900;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25), inset 1px -30px 1px rgba(0, 0, 0, 0.2), inset 0px 3px 0.5px #FFFFFF, inset 0px -8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 349px;
    height: 73px;
    border-radius: 24px;
    text-shadow: 0px 1.5px 1px rgba(22, 8, 0, 0.8);
    text-shadow: -2px 0 1px #772B00, 0 4px 1px #772B00, 2px 0 1px #772B00, 0 -1.5px #772B00;
    margin-top: 0.5em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

/* Disable text selection  */
.disableSelection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

/* Form CSS */
  .formItem {
    margin-bottom:1em;
    text-align:center;
    font-size:2em;
    padding:0.5em;
    letter-spacing:0.03em;
    border: 2px solid #BDBDBD;
    color: #303030;
    font-family: "Roboto-Medium";
    width: 300px;
}

.formLabel {
    font-size: 2em;
    color:white;
    font-family: "Roboto-Medium"
}


/* Roboto-font */
@font-face { font-family: 'Roboto'; src: url('Roboto/Roboto-Regular.ttf'); } 
@font-face { font-family: 'Roboto-Bold'; src: url('Roboto/Roboto-Bold.ttf'); } 
@font-face { font-family: 'Roboto-Black'; src: url('Roboto/Roboto-Black.ttf'); } 
@font-face { font-family: 'Roboto-Italic'; src: url('Roboto/Roboto-Italic.ttf'); } 
@font-face { font-family: 'Roboto-Light'; src: url('Roboto/Roboto-Light.ttf'); } 
@font-face { font-family: 'Roboto-Medium'; src: url('Roboto/Roboto-Medium.ttf'); } 
@font-face { font-family: 'Roboto-Thin'; src: url('Roboto/Roboto-Thin.ttf'); } 


/* This is code for the animated background. Code used: https://codepen.io/goodkatz/pen/LYPGxQz */
body {
    margin:0;
  }

#background {
  overflow: hidden;
}

#beer {
  position: absolute;
  bottom: 0;
  background-color: #f2c025;
  width: 100%;
  height: 30%;
  z-index: -1000;
}

#beertint {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: white;
  opacity: 13%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%;
}

.waves {
    position:absolute;
    width: 100%;
    height:5rem;
    z-index: -999;
    bottom: 30%;
}

.waves2 {
  position:absolute;
  width: 100%;
  height:2rem;
  z-index: -1;
  bottom: 30%;
  transform: rotate(180deg);
} 
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 8s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 11s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 18s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  
  /* Animation 2 */
  
  .parallax2 > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax2 > use:nth-child(1) {
    animation-delay: -5s;
    animation-duration: 5s;
  }
  .parallax2 > use:nth-child(2) {
    animation-delay: -6s;
    animation-duration: 8s;
  }
  .parallax2 > use:nth-child(3) {
    animation-delay: -7s;
    animation-duration: 11s;
  }
  .parallax2 > use:nth-child(4) {
    animation-delay: -8s;
    animation-duration: 18s;
  }

  
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }


/* Animated background code ends here */

.bubble {
  position: absolute;
  animation: rising linear infinite;
  width: 50px;
  height: 50px;
  background: white;
  opacity: 25%;
  border-radius: 100%;
  overflow: hidden;
}

.bubble1 {
  width: 10px;
  height: 10px;
left: 5%;
animation-duration: 5s;
}

.bubble2 {
  width: 10px;
  height: 10px;
  left: 25%;
  animation-duration: 2s;
  }

.bubble3 {
  width: 30px;
  height: 30px;
    left: 50%;
    animation-duration: 3s;
    }

.bubble4 {
  left: 75%;
  animation-duration: 5s;
  }

.bubble5 {
  left: 95%;
  width: 30px;
  height: 30px;
  animation-duration: 4s;
}

.bubble6 {
  width: 10px;
  height: 10px;
  left: 70%;
  animation-duration: 3.5s;
}

.bubble7 {
  left: 33%;
  animation-duration: 3s;
}

.bubble8 {
  left: 55%;
  width: 30px;
  height: 30px;
  animation-duration: 2s;
}

.bubble9 {
  left: 65%;
  animation-duration: 1.7s;
}

.bubble10 {
  left: 15%;
  animation-duration: 3.5s;
}

.bubble11 {
  left: 47%;
  animation-duration: 5s;
  width: 20px;
  height: 20px;
}

.bubble12 {
  left: 40%;
  animation-duration: 6s;
  width: 25px;
  height: 25px;
}

@keyframes rising {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    bottom: 80%;
    opacity: 0;
  }
}