<!--Bar on top of page for round buttons-->
<div class="iconBar">
  <div class="iconBtn" [routerLink]="['/MainMenu']" routerLinkActive="router-link-active"> 
  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
  </svg>
</div>
</div>

<!--Logo-->
<div id="logo">
    <img src="https://gameassetsbucket.s3.amazonaws.com/bd_logo1.png" alt="Logo" style="max-width:250px;padding-top:5px">
</div>

<!--Navigation-->
<div class="navi">
  <!--Speech Bubble-->
  <div class="navitem" style="display:flex;padding-right:0.3em;justify-content:flex-end;flex-direction: row;">
      <div class="speech-bubble" style="position:absolute;margin-top:-20px;margin-right:15px">
        Pelaa heti!</div></div>
    <!--nav buttons-->
    <div class="navitem"><button id="quickGame" type="button" (click)="toggleCollapse()" class="button1">Pikapeli</button>
        <!--Pikapeli collapse-->
        <div id="pikapeli" *ngIf="this.isCollapsed === false">
          <div class="navitem collapseBtn"><button id="vesiputous" class="button2" [routerLink]="['/GameThree']" routerLinkActive="router-link-active">Vesiputous</button></div>
          <div class="navitem collapseBtn"><button id="emptyDeck" class="button2" [routerLink]="['/GameTwo']" routerLinkActive="router-link-active">Korttipakka</button></div>  
        </div>
    </div>
    <!--nav buttons-->
    <div class="navitem"><button id="joinGameButton" class="button1" [routerLink]="['/JoinLobby']" routerLinkActive="router-link-active">Liity peliin</button></div>
    <div class="navitem"><button id="createGame" class="button1" [routerLink]="['/CreateLobby']" routerLinkActive="router-link-active">Luo peli</button></div>
</div>