<h1>Luo huone</h1>
<form id="createLobby">
  <h3>Nimimerkkisi</h3>
  <input type="text" id="name" name="name" class="formItem" placeholder="pelaaja1" maxlength="15">
</form>

<h3>Huoneen koodi</h3>
<div id="codeClass" style="font-size: 2em">{{this.koodi}}</div>

<h3>Valitse peli</h3>

[x] Vesiputous

<div class="navi">
<div class="navitem"><button id="vesiputous" class="button2" [routerLink]="['/GameOne']" routerLinkActive="router-link-active">Luo huone</button></div>
<div class="navitem"><button id="back" class="button2" [routerLink]="['/JoinTable']" routerLinkActive="router-link-active">Takaisin</button></div>
</div>