<h1>Liity huoneeseen</h1>
  <form id="joinGame">
    <label for="roomcode" class="formLabel">Huoneen koodi</label><br>
    <input type="text" id="roomcode" class="formItem" name="roomcode" placeholder="ABCD" maxlength="4">
    <br>
    <label for="name" class="formLabel">Nimimerkkisi</label><br>
    <input type="text" id="name" name="name" class="formItem" placeholder="pelaaja1" maxlength="15">
  </form>

<button class="button1" [routerLink]="['/GameLobby']" routerLinkActive="router-link-active">Liity</button><br>
<button class="button2" [routerLink]="['/JoinTable']" routerLinkActive="router-link-active">Takaisin</button>