<!--Bar on top of page for round buttons-->
<div class="iconBar"></div>

<!--Logo-->
<div id="logo">
  <!--Starburst-->
  <div class="burst starburst starburst--both"></div>
  <img src="https://gameassetsbucket.s3.amazonaws.com/bd_logo1.png" alt="Logo" style="max-width:300px;display:none;">
</div>

<h1>Liity huoneeseen</h1>
  <form id="joinGameForm">
    <label for="lobbyCode" class="form-label"><h3>Huoneen koodi</h3></label>
    <input class="form-control form-control-lg" type="text" maxlength="4" style="text-align:center" placeholder="ABCD" aria-label="lobbyCode">

    <label for="playerName" class="form-label"><h3>Nimimerkkisi</h3></label>
    <input class="form-control form-control-lg" type="text" maxlength="15" style="text-align:center" placeholder="pelaaja1" aria-label="playerName">
  </form>

<div class="navi" style="margin-top: 4em">
  <div class="navitem"><button class="button1" [routerLink]="['/GameLobby']" routerLinkActive="router-link-active">Liity</button></div>
  <div class="navitem"><button class="button2" [routerLink]="['/JoinTable']" routerLinkActive="router-link-active">Takaisin</button></div>
</div>
