<!--Bar on top of page for round buttons-->
<div class="iconBar">
  <div class="iconBtn" [routerLink]="['/JoinTable']" routerLinkActive="router-link-active"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
  </div>
</div>

<!--Logo-->
<div id="logo">
  <!--Starburst-->
  <div class="burst starburst starburst--both"></div>
  <img src="https://gameassetsbucket.s3.amazonaws.com/bd_logo1.png" alt="Logo"
    style="max-width:300px;display:none;">
</div>

<h1>Liity huoneeseen</h1>
<form id="joinGameForm">
  <label for="lobbyCode" class="form-label">
    <h3>Huoneen koodi</h3>
  </label>
  <input class="form-control form-control-lg" #code (keyup)="getLobbyCode(code.value)" type="text" maxlength="4"
    style="text-align:center" placeholder="ABCD" id="roomCode" aria-label="lobbyCode">

  <label for="playerName" class="form-label">
    <h3>Nimimerkkisi</h3>
  </label>
  <input class="form-control form-control-lg" #box (keyup)="getUserInput(box.value)" type="text" maxlength="15"
    style="text-align:center" id="playerName" placeholder="pelaaja1" aria-label="playerName">
</form>

<div class="navi" style="margin-top: 4em">
  <div class="navitem"><button (click)="wsService.sendToServer(msg)" class="button1"
      [routerLink]="['/GameLobby']">Liity</button>